{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashboard</title>

  <!-- Favicons -->
  <link href="{% static 'new1/img/favicon.png' %}" rel="icon">
  <link href="{% static 'new1/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'new1/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'new1/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'new1/css/zabuto_calendar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'new1/lib/gritter/css/jquery.gritter.css' %}" />
  <!-- Custom styles for this template -->
  <link href="{% static 'new1/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'new1/css/style-responsive.css' %}" rel="stylesheet">
  <script src="{% static 'new1/lib/chart-master/Chart.js' %}"></script>

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>VIRT<span>IGO</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-tasks"></i>
              <span class="badge bg-theme">2</span>
              </a>
            <ul class="dropdown-menu extended tasks-bar">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 2 pending tasks</p>
              </li>
              <li>
                <a >
                  <div class="task-info">
                    <div class="desc">Task Completed</div>
                    <div class="percent">{{user.userprofile.tasks_completed}}%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="30" style="width: {{user.userprofile.tasks_completed}}%">
                      <span class="sr-only">{{user.userprofile.tasks_completed}}% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a >
                  <div class="task-info">
                    <div class="desc">Subscription Expiration</div>
                    <div class="percent">{{user.userprofile.subcription}}% used</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{user.userprofile.subcription}}" aria-valuemin="0" aria-valuemax="100" style="width: {{user.userprofile.subcription}}%">
                      <span class="sr-only">%{{user.userprofile.tasks_subscription}} Complete (warning)</span>
                    </div>
                  </div>
                </a>
              </li>
              
            </ul>
          </li>
          <!-- settings end -->
          
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">1</span>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have 1 new notifications</p>
              </li>
              <li>
                <a >
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  {{user.userprofile.notif}}
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="/subscribe/logout">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="{% static 'new1/img/sam.jpg' %}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{user.username}}</h5>
          <h4 class="centered">{{user.userprofile.sub }} Plan SUBSCRIBER</h4>
          <li class="mt">
            <a class="active" href="/user/dashboard">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li>
            <a href="/user/sponsored">
              <i class="fa fa-book"></i>
              <span>Sponsored Post </span>
              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>
          <li>
            <a href="/user">
              <i class="fa fa-desktop"></i>
              <span>Home </span>
              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>
          <li>
            <a href="/user/blog">
              <i class="fa fa-tasks"></i>
              <span>Blog </span>
              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>
          <li>
            <a href="/user/contact">
              <i class="fa fa-comments-o"></i>
              <span>Contact Us </span>
              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>
          <li>
            <a href="/subscribe/logout">
              <i class="fa fa-cogs"></i>
              <span>Logout </span>
              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>
          
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
            
            <div class="row mt">
              <!-- SERVER STATUS PANELS -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>TASK COMPLETED</h5>
                  </div>
                  <canvas id="serverstatus01" height="120" width="120"></canvas>
                  <script>
                    var doughnutData = [{
                        value: {{user.userprofile.tasks_completed}},
                        color: "#FF6B6B"
                      },
                      {
                        value: 50,
                        color: "#fdfdfd"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                  </script>
                  <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                     
                    </div>
                    <div class="col-sm-6 col-xs-6">
                      <h2>{{user.userprofile.tasks_completed}}%</h2>
                    </div>
                  </div>
                </div>
                <!-- /grey-panel -->
              </div>
              <!-- /col-md-4-->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>SUBSCRIPTION EXPIRATION</h5>
                  </div>
                  <canvas id="serverstatus02" height="120" width="120"></canvas>
                  <script>
                    var doughnutData = [{
                        value: {{user.userprofile.subcription}} ,
                        color: "#FF6B6B"
                      },
                      {
                        value: 50,
                        color: "#fdfdfd"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                  </script>
                  <p>April 17, 2014</p>
                  <footer>
                    <div class="pull-left">
                    
                    </div>
                    <div class="pull-right">
                      <h5>{{user.userprofile.subcription}}% Used</h5>
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 col-sm-4 mb">
                <!-- REVENUE PANEL -->
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>REVENUE</h5>
                  </div>
                  <div class="chart mt">
                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[0,0,0,0,0,0,0,0,0,0,0]"></div>
                  </div>
                  <p class="mt"><b>$ {{user.userprofile.revenue}}</b><br/>Month Income</p>
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
            <div class="row">
              
              <!-- /col-md-4 -->
              <div class="col-md-4 mb">
                <!-- WHITE PANEL - TOP USER -->
                <div class="white-panel pn">
                  <div class="white-header">
                    <h5>TOP USER</h5>
                  </div>
                  <p><img src="{% static 'new1/img/ui-zac.jpg' %}" class="img-circle" width="50"></p>
                  <p><b>Zacky Snider</b></p>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="small mt">MEMBER SINCE</p>
                      <p>2020</p>
                    </div>
                    <div class="col-md-6">
                      <p class="small mt">TOTAL EARNINGS</p>
                      <p>$ xx,xx</p>
                    </div>
                  </div>
                </div>
            
              
            <!-- /row -->
            
              </div>
              <!--/ col-md-4 -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>REFERRALS</h5>
                  </div>
                  <canvas id="serverstatus03" height="120" width="120"></canvas>
                  <script>
                    var doughnutData = [{
                        value: {{user.userprofile.referrals}},
                        color: "#FF6B6B"
                      },
                      {
                        value: 40,
                        color: "#fdfdfd"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutData);
                  </script>
                  <h3>{{user.userprofile.referrals}} Referral(s)</h3>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 mb">
                <!-- REVENUE PANEL -->
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>REFFERAL EARNINGS</h5>
                  </div>
                  <div class="chart mt">
                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[0,0,0,0,0,0,0,0,0,0,0]"></div>
                  </div>
                  <p class="mt"><b>$ 00,00</b><br/>Refferal Income</p>
                </div>
              </div>
              
              <!-- /col-md-4 -->
            </div>
            
            <!-- /row -->
          </div>
          
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
          <div class="col-lg-3 ds">
            
      </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
        <a href="index.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'new1/lib/jquery/jquery.min.js' %}"></script>

  <script src="{% static 'new1/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'new1/lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'new1/lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'new1/lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script src="{% static 'new1/lib/jquery.sparkline.js' %}"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'new1/lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'new1/lib/gritter-conf.js' %}"></script>
  <!--script for this page-->
  <script src="{% static 'new1/lib/sparkline-chart.js' %}"></script>
  <script src="{% static 'new1/lib/zabuto_calendar.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: ' {{user.username}} Welcome to Virtigo!',
        // (string | mandatory) the text inside the notification
        text: 'Hover me to enable the Close Button. This is your Dashboard, You can view all your details here.',
        // (string | optional) the image to display on the left
        image: '{% static "img/sam.jpg" %}',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
